<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% if (data.page == 'games' || data.page == 'readyForUpload' || data.page == 'winners') { %>
     
    
    <div id="<%= %>" class="singleColumn">
        <%- include('list', {data: data}); %>
    </div>
    <% }else if (data.page == 'activeGame') {%>
        
        <div id="<%= data.teams[0].id %>" class="doubleColumn">
            <%- include('list', {data: data, team: data.teams[0], opponent: data.teams[1]}); %>
        </div>
        <div id="<%= data.teams[1].id %>" class="doubleColumn">
            <%- include('list', {data: data, team: data.teams[1], opponent: data.teams[0]}); %>
        </div>
    <% } %>
</body>
</html>