<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% if (page == 'games') { %>
     
    
    <div id="<%= teams[0].id %>" class="singleColumn">
        <%- include('list', {data: data, page: page}); %>
    </div>
    <% }else if (page == 'activeGame') {%>
        
        <div id="<%= teams[0].id %>" class="doubleColumn">
            <%- include('list', {data: data[0], page: page, Event_ID: Event_ID}); %>
        </div>
        <div id="<%= teams[1].id %>" class="doubleColumn">
            <%- include('list', {data: data[1], page: page, Event_ID: Event_ID}); %>
        </div>
    <% } %>
</body>
</html>