<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function confirmSubmit(event) {
            const isConfirmed = confirm("Are you sure you want to submit the changes?");
            if (!isConfirmed) {
                event.preventDefault(); // Cancel the form submission
            }
        }
    </script>
</head>
<body>
    <form id="editTeamForm" class="textCenter" action="editTeam" onsubmit="confirmSubmit(event)" method="post" style="display: ''; text-align: center;">
        <div class="textCenter" style="height: 15vh;"><img src="/images/<%=data.data.id%>.png" alt="<%= data.data.id %> Logo" class="formLogo"></div>
        <input class="primaryStyle" type="file" name="teamLogo" accept="image/png" hidden>
        <br>
        <input type="text" name="fullName" value="<%= data.data.fullName %>" placeholder="Full Name" required>
            <br>
            <input type="text" name="shortName" value="<%= data.data.shortName %>" placeholder="Short Name" required>
            <br>
            <input type="text" name="abbreviation" value="<%= data.data.abbreviation %>" placeholder="abbreviation" required>
            <br>
            <select name="seasonId" id="seasonId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="getLeagues(this.form)" required>
                <% for(let i=0; i< data.seasons.length; i++) {%>
                    <option value="<%= data.seasons[i].seasonId%>" <%= data.seasons[i].seasonId== data.data.seasonId? 'selected' : ''%>><%= data.seasons[i].seasonName%></option>
                <% } %>
            </select>
            <select name="leagueId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="" required>
                <option value="" disabled selected>League</option>
                <% for(let i=0; i< data.leagues.length; i++) {%>
                    <option value="<%= data.leagues[i].abbreviation%>" <%= data.leagues[i].name== data.data.league? 'selected' : ''%>><%= data.leagues[i].shortName%></option>
                <% } %>
            </select>
            <br>
            <input type="color" name="color" value="<%= data.data.color %>" required>
            <br>
            <br>
            <button type="submit" class="primaryStyle primaryBorder" style="font-weight: bold; width: auto; height: 5vh;">Update Team</button>
    </form>
</body>
</html>