<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
        <form class="eventForm" action="activeGame" method="get">
            <input type="hidden" name="Team1_ID" value="<%= game.Team1_ID %>">
            <input type="hidden" name="Team2_ID" value="<%= game.Team2_ID %>">
            <input type="hidden" name="Event_ID" value="<%= game.Event_ID %>">
            <input type="hidden" name="realTime" value="">
            <input type="hidden" name="periodTime" value="">
            <input type="hidden" name="period" value="">
            <input type="hidden" name="value" value="">
            <button class="playerButton" name="type" value="game" onclick="">
        <div class="itemFormat">
            <div class="playerTag">
                <div class="playerName">
                    <%= game.Team1_ID %>
                    <%= game.Team2_ID %>
                </div>
            </div>
            <div class="statContainer">  
                <div class="gameInfo"><%= game.Location %></div>
                <div class="gameInfo"><%= game.Start_Time %></div>
                <div class="gameInfo"><%= game.Start_Date %></div>
            </div>                    
        </div>
        </button>
    </form>
</body>
</html>