<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <!-- style="background-image: linear-gradient(135deg, <%=data.teams[0].color %> 10%, <%=data.teams[1].color %> 90%);" -->
  <header class="header" >
    
    <div id="pageName" class="headerText">
      <% if (data.page == 'games') { %>
       Games
      <% }else if (data.page == 'activeGame') {%>
        <% var currentPeriod = data.game.period %>
        <script>
         var currentPeriod = '<%= data.game.period  %>'

        </script>
        
        <form action="javascript:void(0);">
          <input type="hidden" name="team" value="<%= data.teams[0].id %>">
          <div style="float: left; width: 30%; height: 100%;" onclick="toggleAddPlayer(this.parentElement)">
            <div style="float: left; width: 83%;"><%= data.teams[0].id %></div>
            <div style="float: left; width: 17%;" id="<%= data.teams[0].id + "Score" %>"><%= data.teams[0].score %></div>
          </div>
        </form>
        <form id="timerForm" action="timer">
          <input type="hidden" name="Event_ID" value="<%= data.Event_ID %>">
          <input type="hidden" name="period" value="<%- data.game.period %>">
          <input type="hidden" name="timerState" value="<%- data.game.timerState %>">
          <input type="hidden" name="timerTime" value="
          <% if (data.game.timerState == 0) { %>
            <%- data.game.timerTime %>
          <% } else if (data.game.timerState == 1){%>
            <%- data.game.timerTime - (Date.now() - data.game.timerStartTime) %>
          <% } else if (data.game.timerState == 2){%>
              0
          <% } %>
          
          ">
          <div style="float: left; width: 40%; height: 100%;">
            <div id="gameTimer" style="font-size: 70%;">
              <% if (data.game.timerState == 0) { %>
                <%- new Date(data.game.timerTime).toISOString().slice(14, -5) %>
              <% } else if (data.game.timerState == 1){%>
                <%- new Date(data.game.timerTime - (Date.now() - data.game.timerStartTime)).toISOString().slice(14, -5) %>
              <% } else if (data.game.timerState == 2){%>
                Full Time
              <% } %>
            </div>
            <div style="font-size: 33%;" id="period">Period <%- data.game.period %> of <%- data.game.maxPeriods %></div>
            <button style="vertical-align: super;" onclick="timerStartStop(this)" id="timerButton">
              <% if (data.game.timerState == 0) { %>
               Start
              <% } else if (data.game.timerState == 1){%>
                Stop
              <% } else if (data.game.timerState == 2){%>
                Complete
              <% } %>
            </button>
          </div>
        </form>
        
        <!-- HON vs BSG  -->
        <form action="javascript:void(0);">
          <input type="hidden" name="team" value="<%= data.teams[1].id %>">
          <div style="float: left; width: 30%; height: 100%;" onclick="toggleAddPlayer(this.parentElement)">
            <div style="float: right; width: 83%;"><%= data.teams[1].id %></div>
            <div style="float: right; width: 17%;" id="<%= data.teams[1].id + "Score" %>"><%= data.teams[1].score %></div>
          </div>
        </form>
      <% } %>
    </div>
    <!-- <button onclick="location.href = '/forms/form'" style="float: right;">Add User</button> -->
  </header>
</html>