<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- <link rel="icon" href="/favicon.png"> -->
    <title>Scorecard</title>
    
</head>
<body>      
        <%- include('header', {data: teams, page: page}); %>
        
        <div id="innerBody">
            <div id="content">
                <% if (page == 'games') { %>
                    <%- include('bodyColumns',{data: teams, page: page}); %>
                <% } else if (page == 'activeGame') { %>
                 
                    <%- include('bodyColumns',{data: teams, page: page, Event_ID: Event_ID}); %>
                <% } %>
            </div>
        </div>
        <%- include('footer'); %>
        <%- include('newPlayerForm'); %>
        <%- include('eventForm'); %>   
        <script src="main.js"></script>
</body>
</html>