<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="preload" href="/styles.css" as="style" />
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/GLOSLogo.png">
    <title>Scorecard</title>
    
</head>
<body>
    <script src="/dist/NoSleep.min.js"></script>    
    <script>
        let noSleep = new NoSleep();
        document.addEventListener('click', function enableNoSleep() {
            document.removeEventListener('click', enableNoSleep, false);
            noSleep.enable();

            // if(navigator.platform !== 'IPhone'){
            //     navigator.vibrate(200)
            // }
            
        }, false);
    </script>  
        <%- include('header', {data: data}); %>
        
        <div id="innerBody"  style= "<%= data.page.includes('activeGame') ? "background-image: linear-gradient(90deg, black 48%, silver 50%, black 52%)": ""%>">
            <div id="content">
                <%- include('bodyColumns',{data: data}); %>
            </div>
        </div>
        <%- include('footer', {data: data}); %>
        <div id="formBackground" style="display: none; touch-action: none;" onclick="closeForm()"></div>
            <%- include('newPlayerForm'); %>
            <%- include('teamForm'); %>
            <%- include('eventForm'); %> 
            <%#- include('timerForm'); %> 
            <%- include('gameInfoForm'); %>
            <%- include('playerSearchForm'); %>
            <%#- include('userSearchForm'); %>
            <%- include('managementForm'); %>
        
        <script src="/main.js" ></script>
        
</body>
</html>