<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- <link rel="icon" href="/favicon.png"> -->
    <title>Scorecard</title>
    
</head>
<body>      
        <%- include('header', {data: data}); %>
        
        <div id="innerBody">
            <div id="content">
                <% if (data.page == 'games') { %>
                    
                    <%- include('bodyColumns',{data: data}); %>
                <% } else if (data.page == 'activeGame') { %>
                 
                    <%- include('bodyColumns',{data: data}); %>
                <% } %>
            </div>
        </div>
        <%- include('footer'); %>
        <!-- <div id="floatingBackground" class="hidden"></div> -->
        <div id="formBackground" style="display: none; touch-action: none;" onclick="closeForm()"></div>

            <%- include('newPlayerForm'); %>
            <%- include('eventForm'); %>   
        
        <script src="main.js"></script>
</body>
</html>