<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <!-- <link rel="icon" href="/favicon.png"> -->
    <title>Scorecard</title>
    
</head>
<body>
    <script src="../dist/NoSleep.min.js"></script>    
    <script>
        // import NoSleep from 'nosleep.js';
        var noSleep = new NoSleep();

        // document.addEventListener('touchend', function enableNoSleep() {
            
        //     // document.removeEventListener('touchend', enableNoSleep, false);
        //     noSleep.enable();
        //     alert(noSleep.enabled)
        // }, false);
        document.addEventListener('click', function enableNoSleep() {
            // alert('mousedown')
            document.removeEventListener('click', enableNoSleep, false);
            noSleep.enable();
            console.log(noSleep)
        }, false);
    </script>  
        <%- include('header', {data: data}); %>
        
        <div id="innerBody"  style= "<%= data.page == 'activeGame' ? "background-image: linear-gradient(90deg, " + data.teams[0].color + " 48%, silver 50%, " +  data.teams[1].color + " 52%)": ""%>">
            <div id="content">
                <% if (data.page == 'games') { %>
                    
                    <%- include('bodyColumns',{data: data}); %>
                <% } else if (data.page == 'activeGame') { %>
                 
                    <%- include('bodyColumns',{data: data}); %>
                <% } %>
            </div>
        </div>
        <%- include('footer'); %>
        <!-- <div id="floatingBackground" class="hidden"></div> -->
        <div id="formBackground" style="display: none; touch-action: none;" onclick="closeForm()"></div>
        <% if (data.page == 'games') { %>
                    
            
        <% } else if (data.page == 'activeGame') { %>
            <%- include('newPlayerForm'); %>
            <%- include('eventForm'); %> 
        <% } %>
              
        
        <script src="main.js"></script>
</body>
</html>