<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% if (data.page == 'activeGame') { %>
        <%- include('player_item',{player: team.players[team.players.map(function(o){return o.Id}).indexOf(team.keeper)], team: team, Event_ID: data.Event_ID, opponent: opponent, side: side}); %>
    <% } %>
    
    <div class="fielderColumn" style="<%= data.page == 'activeGame' ? "height: calc(100% - 10vh)"  : "" %>">
        <% if (data.page == 'games' || data.page == 'readyForUpload') { %>
            <% for(var i=0; i< data.games.length; i++) {%>
                <%- include('game_item',{game: data.games[i]}); %>
            <% } %>
        <% } else if (data.page == 'winners') { %>
            <% var url = ''; %>
            <form action="/paidChanges" id="paidForm" method="post" enctype="application/x-www-form-urlencoded">
                <% for(var i=0; i< data.winners.length; i++) {%>
                    <% var url = url + data.winners[i].email %>
                    <% if (i < data.winners.length - 1) { %>
                        <% var url = url + ',' %>
                    <% } %>                    
                        <%- include('winner_item',{winner: data.winners[i]}); %>
                    
                <% } %>
            </form>
            <script>
                var emailSubject = encodeURIComponent(`GLOS: Gift Card Payment`);
                var emailBody = encodeURIComponent(`Hi All, 


This is a reminder to send your gift card fees to Dean. His Venmo and Cashapp are Dean Jong. Please respond to this email with a screenshot of the payment when you are done. 

Also if you missed the payment for the prior week they are due by the next game. 


Thank you and have a nice day!`
                );
                var bccAddress = encodeURIComponent(`<%= url %>`);
                function openMailtoLink() {
                    // Replace 'email@example.com' with the desired email address
                    // window.location.href = 'test.com'
                    window.location.href = `mailto:?bcc=${bccAddress}&subject=${emailSubject}&body=${emailBody}`;
                }
                var testvar = document.getElementById('emailAllButton')
                console.log(testvar);
                testvar.onclick = openMailtoLink
                console.log(testvar);
                // document.getElementById('emailAllButton').onclick = function(){
                //     window.location.href = url
                // }
            </script>
        <% } else if (data.page == 'activeGame') { %>
            
            <% for(var i=0; i< team.players.length; i++) {%>
                <% if (team.players[i].Id !== team.keeper) { %>
                    <%- include('player_item',{player: team.players[i], team: team, Event_ID: data.Event_ID, opponent: opponent, side: side}); %>
                <% } %>
            <% } %>
        <% } else if (data.page == 'users') { %>
        
            <% for(var i=0; i< data.users.length; i++) {%>
                    <%- include('user_item',{user: data.users[i]}); %>
            <% } %>
        <% } %>
    </div>
</body>
</html>