<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% if (data.page == 'activeGame') { %>
        <%- include('player_item',{player: team.players[team.players.map(function(o){return o.Id}).indexOf(team.keeper)], team: team, Event_ID: data.Event_ID, opponent: opponent}); %>
    <% } %>
    
    <div class="fielderColumn" style="<%= data.page == 'activeGame' ? "height: calc(100% - 11.5vh)"  : "" %>">
        <% if (data.page == 'games' || data.page == 'readyForUpload') { %>
            <% for(var i=0; i< data.games.length; i++) {%>
                <%- include('game_item',{game: data.games[i]}); %>
            <% } %>
        <% } else if (data.page == 'winners') { %>
            <% for(var i=0; i< data.winners.length; i++) {%>
                <%- include('winner_item',{winner: data.winners[i]}); %>
            <% } %>
        <% } else if (data.page == 'activeGame') { %>
            
            <% for(var i=0; i< team.players.length; i++) {%>
                <% if (team.players[i].Id !== team.keeper) { %>
                    <%- include('player_item',{player: team.players[i], team: team, Event_ID: data.Event_ID, opponent: opponent}); %>
                <% } %>
            <% } %>
        <% } %>
    </div>
</body>
</html>