<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
        <form class="listItem" action="/games/eventLog" method="post">
            <input type="hidden" name="playerId" value="<%= player.id %>">
            <input type="hidden" name="teamName" value="<%= team %>">
            <input type="hidden" name="realTime" value="">
            <input type="hidden" name="periodTime" value="">
            <input type="hidden" name="period" value="">
            <input type="hidden" name="value" value="">
            <button class="playerButton" name="type" value="goal" onclick="statHandler(this.value, '<%= team %>','<%= player.id %>', this.parentElement)">
        <div class="itemFormat">
            <div class="playerTag">
                <div class="playerName">
                    <%= player.firstName %>
                    <%= player.lastName %>
                </div>
            </div>
            <div class="statContainer">  
                <div class="statItem">Goals: 0</div>
                <div class="statItem">Assists: 0</div>
            </div>                    
        </div>
        </button>
    </form>
</body>
</html>