<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    
     
    
    <% if (data.page == 'activeGame') { %>
        <% if (team.id !== 'TBD' && team.players.length > 0) { %>
            <%- include('player_item',{player: team.players[team.players.map(function(o){return o.userId}).indexOf(team.keeper)], team: team, Event_ID: data.Event_ID, opponent: opponent, side: side}); %>
        <% } %>
    <% } %>
    <div class="fielderColumn dragColumn" style="<%= data.page == 'activeGame' ? "height: calc(100% - 10vh)"  : "" %>">
        <% if (data.page == 'games' || data.page == 'readyForUpload' || data.page == 'completedGames' || data.page == 'rescheduleGames') { %>
            <% for(var i=0; i< data.games.length; i++) {%>
                <%- include('game_item',{game: data.games[i]}); %>
            <% } %>
        <% } else if (data.page == 'teams') { %>
            <% for(var i=0; i< data.teams.length; i++) {%>
                <%- include('team_item',{team: data.teams[i]}); %>
            <% } %>
        <% } else if (data.page == 'schedules') { %>
            <div class="textCenter">
                <button type="button" class="primaryBorder primaryStyle" style="font-size: 150%; border-width: thin;" onclick="window.location.href='/schedules/new'">New</button>
                <button type="button" class="primaryBorder primaryStyle" style="font-size: 150%; border-width: thin;" onclick="window.location.href='/schedules/list'">Existing</button>
            </div>
        <% } else if (data.page.startsWith('/schedules/item/')) { %>
            <% for(var i=0; i< data.list.length; i++) {%>
                <%- include(`scheduleGame_item`,{game: data.list[i]}); %>
            <% } %>
        <% } else if (data.page == '/schedules/list') { %>
            <% for(var i=0; i< data.list.length; i++) {%>
                <%- include(`schedule_item`,{item: data.list[i]}); %>
            <% } %>
        <% } else if (data.page == '/schedules/new') { %>
            <form action="<%= data.page %>" method="post" class="textCenter">
                
                <select name="seasonId" id="seasonId" class="primaryStyle" style="font-size: 100%;" required>
                    <option value="" disabled selected hidden>Season</option>
                    <option value="Spring 2024" selected>Spring 2024</option>
                    <option value="Indoor">Indoor</option>
                </select>
                <select name="sport" id="sport" class="primaryStyle" style="font-size: 100%;" required>
                    <option value="" disabled selected hidden>Sport</option>
                    <option value="soccer" selected>Soccer</option>
                    <option value="futsal">futsal</option>
                </select>
                <br>
                <br>
                <label for="gamesPerTeam" class="primaryStyle" style="font-size: 100%;">Games Per Team</label>
                <input name="gamesPerTeam" class="primaryStyle" style="font-size: 100%; width: 10vw;" type="number" value="8" min="1">
                <br>
                <br>
                <div class="primaryStyle" style="font-size: 100%;">
                    Dates:
                    <br>
                    <input type="date" name="seasonStartDate" class="primaryStyle" style="font-size: 100%;" value="2024-05-06" required>
                    To
                    <input type="date" name="seasonEndDate" class="primaryStyle" style="font-size: 100%;" value="2024-07-03" required>
                </div>
                <br>
                <div class="primaryStyle" style="font-size: 100%;">
                    Times:
                    <br>
                    First:
                    <input type="time" name="firstGameTime" class="primaryStyle" style="font-size: 100%;" value="18:00" required>
                    Last:
                    <input type="time" name="lastGameTime" class="primaryStyle" style="font-size: 100%;" value="20:00" required>
                </div>
                <br>
                <input type="text" name="scheduleName" class="primaryStyle" style="font-size: 100%;" placeholder="Schedule Name (Optional)">
                <br>
                <br>
                <br>
                <button type="submit" class="itemFormat primaryStyle" style="font-size: 150%;">Generate</button>
            </form>
        <% } else if (data.page == '/newGame') { %>
            <%- include(`newGameForm`,{data: data}); %>
        <% } else if (data.page == '/newTeam') { %>
            <%- include(`newTeamForm`,{data: data}); %>
        <% } else if (data.page == 'standings') { %>
            <% if (data.hasOwnProperty('list')) { %>
                <% for(var i=0; i< data.list.length; i++) {%>
                    <%- include(`${data.type}Standings_item`,{item: data.list[i]}); %>
                <% } %>
            <% }else { %>
                <form action="/standings" method="post" class="textCenter">
                    <!-- <select name="seasonId" id="seasonId" required>
                        <option value="" disabled selected hidden>Season</option>
                        <option value="S2024">Spring 2024</option>
                        <option value="Ind">Indoor</option>
                    </select> -->
                    <select name="leagueId" id="leagueId" class="primaryStyle" style="font-size: 100%;" required>
                        <option value="" disabled selected hidden>League</option>
                        <!-- <option value="MOI">MOI</option>
                        <option value="PCI">PCI</option>
                        <option value="OCI">OCI</option>
                        <option value="SCI">SCI</option> -->
                        <% for(var i=0; i< data.leagues.length; i++) {%>
                            <option value="<%= data.leagues[i].abbreviation%>"><%= data.leagues[i].shortName%></option>
                        <% } %>
                    </select>
                    <select name="type" id="type" class="primaryStyle" style="font-size: 100%;" required>
                        <option value="" disabled selected hidden>Type</option>
                        <option value="team">Team</option>
                        <option value="individual">Individual</option>
                        <option value="keeper">Keeper</option>
                    </select>
                    <br>
                    <br>
                    <button type="submit" class="itemFormat primaryStyle" style="font-size: 150%;">GO</button>
                </form>
            <% } %>
        <% } else if (data.page == 'winners') { %>
            <% var url = ''; %>
            <form action="/paidChanges" id="paidForm" method="post" enctype="application/x-www-form-urlencoded">
                <% for(var i=0; i< data.winners.length; i++) {%>
                    <%# console.log(`${data.winners[i].Event_ID}-${data.winners[i].paid}`) %>
                    <% if (data.winners[i].paid == 'false') { %>
                        <% var url = url + data.winners[i].email %>
                        <% if (i < data.winners.length - 1) { %>
                            <% var url = url + ',' %>
                        <% } %>      
                    <% } %>
                                      
                    <%- include('winner_item',{winner: data.winners[i]}); %>
                    
                <% } %>
            </form>
            <script>
                var emailSubject = encodeURIComponent(`GLOS: Gift Card Payment`);
                var emailBody = encodeURIComponent(`Hi All, 


This is a reminder to send your gift card fees to Dean. His Venmo and Cashapp are Dean Jong. Please respond to this email with a screenshot of the payment when you are done. 

Also if you missed the payment for the prior week they are due by the next game. 


Thank you and have a nice day!`
                );
                var bccAddress = encodeURIComponent(`<%= url %>`);
                function openMailtoLink() {
                    // Replace 'email@example.com' with the desired email address
                    // window.location.href = 'test.com'
                    window.location.href = `mailto:?bcc=${bccAddress}&subject=${emailSubject}&body=${emailBody}`;
                }
                var testvar = document.getElementById('emailAllButton')
                console.log(testvar);
                testvar.onclick = openMailtoLink
                console.log(testvar);
                // document.getElementById('emailAllButton').onclick = function(){
                //     window.location.href = url
                // }
            </script>
        <% } else if (data.page == 'activeGame') { %>
            
            <% for(var i=0; i< team.players.length; i++) {%>
                <% if (team.players[i].userId !== team.keeper) { %>
                    <%- include('player_item',{player: team.players[i], team: team, Event_ID: data.Event_ID, opponent: opponent, side: side}); %>
                <% } %>
            <% } %>
        <% } else if (data.page == 'users') { %>
        
            <% for(var i=0; i< data.users.length; i++) {%>
                    <%- include('user_item',{user: data.users[i]}); %>
            <% } %>
        <% } %>
    </div>
</body>
</html>