<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>My Teams</title>
    <style>
        body {
            font-family: sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: rgba(206, 255, 0, 0.50);
            /* background-color: #ceff00;
            opacity: 0.3; */
            /* background-color: #f4f4f4; */
        }
        .tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ceff00;
  color: #121212;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s;
  white-space: nowrap;
  border-style: solid;
  border-width: thin;
}

.tooltip:hover::after,
.tooltip:focus::after {
  opacity: 1;
  visibility: visible;
}

.tooltip:focus::after {
  visibility: visible;
}
input:focus, textarea:focus, select:focus {
            outline: 2px solid #ceff00; /* Change to your preferred color */
        }
::selection {
    background: #ceff00; 
    color: #121212; 
        }
.blur-text {
  filter: blur(4px);
  user-select: none; /* Prevents text selection */
  pointer-events: none; /* Prevents interaction */
}
    </style>
</head>
<body>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Captain</th>
                <th>League</th>
                <th>Season</th>
                
            </tr>
        </thead>
        <tbody>
            <% data.teams.forEach(item => { %>
                <tr>
                    <td class="tooltip" data-tooltip="<%= item.teamFullName %>"><%= item.teamAbbreviation %></td>
                    <td><%= item.captain %></td>
                    <td class="tooltip" data-tooltip="<%= item.leagueShortName %>"><%= item.leagueAbbreviation %></td>
                    <td><%= item.seasonName %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
