<form id="newTeamForm" action="/teams/addTeam" method="post" class="textCenter" enctype="multipart/form-data">
                
    <select name="seasonId" id="seasonId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="getLeagues(this.form)" required>
        <!-- <option value="" disabled selected hidden>Season</option> -->
        <!-- <option value="<%# data.season %>" selected><%= data.season %></option> -->
        <% for(let i=0; i< data.seasons.length; i++) {%>
            <option value="<%= data.seasons[i].seasonName%>" <%= data.seasons[i].seasonName== data.season? 'selected' : ''%>><%= data.seasons[i].seasonName%></option>
        <% } %>
        <!-- <option value="Indoor">Indoor</option> -->
    </select>
    <select name="leagueId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="" required>
        <option value="" disabled selected>League</option>
        <!-- <script>console.log(document.getElementById('newGameForm').getElementsByName('leagueId')[0])</script> -->
        <% for(let i=0; i< data.leagues.length; i++) {%>
            <option value="<%= data.leagues[i].abbreviation%>"><%= data.leagues[i].shortName%></option>
        <% } %>
    </select>
    <br>
    <br>
    <input type="text" name="teamName" placeholder="Full Team Name">
    <br>
    <br>
    <input type="text" name="abbreviation" placeholder="Abbreviation">
    <br>
    <div class="primaryStyle" style="font-size: 100%;">
        Color:
        <br>

        <input type="color" name="color" required>

        
    </div>
    <br>
    <div class="primaryStyle" style="font-size: 100%;">
        Team Logo (optional):
        <br>

        <input class="primaryStyle" type="file" name="teamLogo" accept="image/png">

        
    </div>
    <br>
    <br>
    <br>
    <button type="submit" class="itemFormat primaryStyle" style="font-size: 150%;">Add Team</button>
</form>