<form id="newTeamForm" action="/teams/addTeam" method="post" class="textCenter" enctype="multipart/form-data">         
    <select name="seasonId" id="seasonId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="getLeagues(this.form)" required>

        <% for(let i=0; i< data.seasons.length; i++) {%>
            <option value="<%= data.seasons[i].seasonId%>" <%= data.seasons[i].seasonId== data.season.seasonId? 'selected' : ''%>><%= data.seasons[i].seasonName%></option>
        <% } %>
    </select>
    <select name="leagueId" class="primaryStyle" style="font-size: 100%;" autocomplete="off" onchange="" required>
        <option value="" disabled selected>League</option>

        <% for(let i=0; i< data.leagues.length; i++) {%>
            <option value="<%= data.leagues[i].leagueAbbreviation%>"><%= data.leagues[i].leagueShortName%></option>
        <% } %>
    </select>
        <br><br>
    <input type="text" name="fullName" placeholder="Full Team Name">
        <br><br>
    <input type="text" name="shortName" placeholder="Short Team Name (Optional)">
        <br><br>
    <input type="text" name="abbreviation" placeholder="Abbreviation">
        <br><br>
    <div class="primaryStyle" style="font-size: 100%;">
        Color:
        <br>
        <input type="color" name="color" required>
    </div>
        <br>
    <div class="primaryStyle" style="font-size: 100%;">
        Team Logo (optional):
            <br>
        <input class="primaryStyle" type="file" name="teamLogo" id="teamLogo" accept="image/png">
        <br>
        <img id="imagePreview" style="display:none; max-width: 100px; max-height: 100px; margin-top: 10px;">
    </div>
        <br><br><br>
    <button type="submit" class="itemFormat primaryStyle" style="font-size: 150%;">Add Team</button>
</form>
<script>
    document.getElementById('teamLogo').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.getElementById('imagePreview');
                img.src = e.target.result;
                img.style.display = '';
            };
            reader.readAsDataURL(file);
        }
    });
    </script>