<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
        <form class="eventForm" action="javascript:void(0);">
            <input type="hidden" name="playerId" value="<%= player.Id %>">
            <input type="hidden" name="teamName" value="<%= team %>">
            <input type="hidden" name="realTime" value="">
            <input type="hidden" name="periodTime" value="">
            <input type="hidden" name="period" value="">
            <input type="hidden" name="value" value="">
            <input type="hidden" name="playerName" value="<%= player.firstName %> <%= player.lastName %>">
            <input type="hidden" name="Event_ID" value="<%= Event_ID %>">
            <button class="playerButton" name="type" value="goal" onclick="toggleEventForm(this.form)">
        <div class="itemFormat secondaryStyle">
            <div class="playerTag">
                <div class="playerName">
                    <%= player.firstName %>
                    <%= player.lastName %>
                </div>
            </div>
            <div class="statContainer">  
                <div class="gameInfo">G: <%= player.goals %></div>
                <div class="gameInfo">A: <%= player.assists %></div>
                <div class="gameInfo">Sv: <%= player.saves %></div>
            </div>                    
        </div>
        </button>
    </form>
</body>
</html>