<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%
        var emailSubject = encodeURIComponent(`GLOS: Gift Card Payment`);
        var emailBody = encodeURIComponent(`Hi ${winner.player}, 

This is a reminder to send your gift card fees to Dean. His Venmo and Cashapp are Dean Jong. Please respond to this email with a screenshot of the payment when you are done.  

Thank you and have a nice day!`);
        var bccAddress = encodeURIComponent(`${winner.email}`); 
     %>
        <!-- <form class="eventForm" action="" method="get"> -->
            <a class="playerButton" href="mailto:?bcc=<%=bccAddress%>&subject=<%=emailSubject%>&body=<%=emailBody%>">    
            <!-- <button class="playerButton" name="type" value="game" onclick=""> -->
        
        <div class="itemFormat secondaryStyle" style="background-image: linear-gradient(135deg, <%=winner.color %> .5%, white 50%, <%=winner.color %> 99.5%);">
            <div class="playerTag">
                <div class="playerName">
                    <%= winner.player %>
                    
                </div>
            </div>
            <div class="statContainer">  
                <div class="gameInfo"><%= winner.TeamId %></div>
                 <div class="gameInfo"><%= winner.email %></div>
                
            </div>                    
        </div>
        </a>
        <!-- </button> -->
    <!-- </form> -->
</body>
</html>