<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <%
        let emailSubject = encodeURIComponent(`GLOS: Gift Card Payment`);
        let emailBody = encodeURIComponent(`Hi ${winner.player}, 

This is a reminder to send your gift card fees to Dean. His Venmo and Cashapp are Dean Jong. Please respond to this email with a screenshot of the payment when you are done.  

Thank you and have a nice day!`);
        let bccAddress = encodeURIComponent(`${winner.email}`); 
     %>
        <!-- <form class="listItem" action="" method="get"> -->
               
            <!-- <button class="playerButton" name="type" value="game" onclick=""> -->
        
        <div class="itemFormat primaryStyle primaryBorder" style="background-image: linear-gradient(to right, <%=winner.color %> .5%, black 25%);">
            
            <div class="statContainer">  
                <div class="gameInfo" style="text-align: center;"></div>
                 
                    <div class="gameInfo" style="text-align: center;">
                        <a class="playerButton" href="mailto:?bcc=<%=bccAddress%>&subject=<%=emailSubject%>&body=<%=emailBody%>">
                            <div class="playerTag">
                                <div class="playerName" style="text-align: center;">
                                    <%= winner.player %>
                                </div>
                            </div>
                            <%= winner.TeamId %>
                            <br>
                            <%= new Date(winner.Start_Date).toLocaleDateString('en-us', {day: '2-digit', month: '2-digit', timeZone: 'UTC'}) %>
                            <%= winner.Start_Time %>
                            <%= winner.Location %>
                        </a>    
                    </div>
                
                <div class="gameInfo" style="text-align: center;">
                    <%# console.log(`${winner.Event_ID}-${winner.paid}`) %>
                    <label for="<%=winner.Event_ID%>">Paid</label><input type="checkbox" name="<%=winner.Event_ID%>" <%= winner.paid== 'true'? 'checked': ''%>>
                </div>
                
            </div>                    
        </div>
        
        <!-- </button> -->
    <!-- </form> -->
</body>
</html>